.features-page {
    padding: 2rem;
    text-align: center;
}

.features-header {
    margin-bottom: 2rem;
}

.feature-section {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeInUp 0.5s ease-in-out;
}

.feature-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.feature-description {
    background-color: #A51C30; /* Mismo color que el botón "Comenzar ahora" */
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 45%;
    text-align: left;
}

.feature-video {
    width: 50%;
}

.feature-video video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .feature-section {
        flex-direction: column;
    }

    .feature-description, .feature-video {
        width: 100%;
    }

    .feature-description {
        margin-bottom: 1rem;
    }
}

/* Animación al hacer scroll */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}