.footer {
    background-color: #fff;
    color: #8996a0;
    padding-bottom: 64px;
    padding-top: 64px;
    position: relative;
    z-index: 1;
    margin: 0px 10px;
    display: block;
    padding: 0;
    box-sizing: border-box;
    unicode-bidi: isolate;
    font: 400 normal 100% / 1.5 GT America Standard Regular;
    -webkit-font-smoothing: antialiased;
}