.home {
    font-family: 'Georgia', serif;
    color: #333;
    background: #fafafa;
    padding: 2rem;
    text-align: center;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeInUp 0.5s ease-in-out;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

.project-name {
    font-family: 'Georgia', cursive; /* Cambia el estilo de letra */
    font-size: 2.5rem; /* Aumenta el tama침o de la fuente */
    font-weight: bold;
    margin-left: 5rem; /* Aumenta el margen izquierdo */
    color:rgba(0, 0, 0, 255); /* Mismo color que el bot칩n "Comenzar ahora" */
    
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #A51C30;
    color: #fff;
    border-radius: 4px;
}

.hero-section {
    padding: 4rem 2rem;
    background: #f5f5f5;
    text-align: center;
    animation: fadeInUp 0.5s ease-in-out;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #A51C30;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation: fadeInUp 0.5s ease-in-out;
}

.cta-button:hover {
    transform: scale(1.05);
    background-color: #8E1A28; /* Un tono m치s oscuro al pasar el cursor */
}

@media (max-width: 768px) {
    .home-header h1 {
        font-size: 2rem;
    }
}

/* Animaci칩n al hacer scroll */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}