.professor-page {
    padding: 2rem;
    text-align: center;
}

.professor-content {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f5f5f5;
    margin: 2% auto 0 auto;
    margin-bottom: auto;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 2rem;
}

.sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #A51C30;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #8E1A28; /* Un tono más oscuro al pasar el cursor */
}

.form-container {
    flex-grow: 1;
    background: #fff;
    margin: 2% auto 0 auto;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.professor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.professor-form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.professor-form input,
.professor-form select,
.professor-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.professor-form button {
    background-color: #A51C30;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.professor-form button:hover {
    transform: scale(1.05);
    background-color: #8E1A28; /* Un tono más oscuro al pasar el cursor */
}

.custom-label {
    color: rgba(0, 0, 0, 0.4); /* Cambia el color de la etiqueta */
}

.list-container {
    margin-top: 2rem;
    text-align: left;
    max-height: 400px; /* Limita la altura del contenedor */
    overflow-y: auto; /* Añade desplazamiento vertical */
    padding-right: 1rem; /* Añade espacio para el scrollbar */
}

.list-container ul {
    list-style: none;
    padding: 0;
}

.list-container li {
    background: #f9f9f9;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container li span {
    font-weight: bold;
    color: #333;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #333; /* Cambia el color del texto a un tono oscuro para mejor visibilidad */
}

table th {
    background-color: #A51C30;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.back-button {
    background-color: #A51C30;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.back-button:hover {
    background-color: #8E1A28; /* Un tono más oscuro al pasar el cursor */
}

.exam-block {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}