.student-page {
    padding: 2rem;
    text-align: center;
}

.student-header {
    margin-bottom: 2rem;
}

.student-content {
    display: flex;
    flex-direction: row; /* Asegura que los elementos se coloquen en fila */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.sidebar {
    width: 200px;
    background-color: #f5f5f5;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 2rem; /* Agrega margen a la derecha para separar la barra del contenido */
}

.student-content p {
    margin-bottom: 1rem;
}